html,
body {
    min-width: 1200px;
    /* background-color: #f0f0f0; */
}

label {
    margin-bottom: 0;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

textarea:focus,
input:focus {
    outline: none!important;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

.bd {
    width: 1200px;
    margin: 0 auto;
}

.container {
    min-width: 1200px;
    margin: 0 auto;
}

.time {
    font-size: 14px;
    color: #b1b1b1;
    letter-spacing: 1px;
}


/* 描述性小白字 */

.txt-desc {
    font-size: 12px;
}


/* 下拉框小箭头 */

.select-caret {
    display: inline-block;
    width: 10px;
    height: 8px;
    background: url('../i/select.png') center center;
    background-size: 100% 100%;
}

i {
    display: inline-block;
}

.line-clamp {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


/* 分页 */

.pg-wr {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d0d0d0;
    /* font-family:PingFangSC-Medium; */
    font-size: 14px;
    letter-spacing: 1.17px;
}

.pg {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
}

.pg>li {
    margin-right: 15px
}

.pg>li:last-child {
    margin-right: 0
}

.pg__active {
    color: #327fdf;
}


/* 模态窗 */

i.modal-close {
    width: 20px;
    height: 20px;
    background: url(../i/close.png) center center;
    background-size: 100% 100%;
    position: absolute;
    top: 10px;
    right: 15px;
}

.modal-wrap {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(16, 37, 89, 0.49);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal-bd {
    background: #ffffff;
    border-radius: 4px;
    width: 680px;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center
}

.modal-tit {
    font-size: 20px;
    color: #4b4b4d;
    letter-spacing: 1px;
    font-weight: bolder;
    margin-top: 8px;
}

i.icon-select {
    background: #327fdf url("../i/icon_select.png") center center no-repeat;
    background-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    width: 45px;
    height: 45px;
    border-radius: 0 2px 2px 0;
    position: absolute;
    top: -1px;
    right: 0;
}

a,
button,
select,
input {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
    border: none;
}

input[type="button"]:hover,
button:hover {
    color: #fff!important;
}


/* 导航 */

.nav-wr {
    background: rgba(0, 0, 0,.6);
}

.nav-other {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

.nav-other li a {
    color: #fff;
    letter-spacing: 1px;
    /* font-family: PingFangSC-Medium; */
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    letter-spacing: 1px;
}

.nav-other li:hover a,
li.nav-other-li__active a{
    background: #f4e271;
    color: #3a3e25;
    /* font-family: PingFangSC-Semibold; */
    font-size: 16px;
    /* font-weight: bolder; */
    letter-spacing: 1px;
}

.am-nav-tabs {
    margin: 0 auto;
}

.am-nav-tabs>li:last-child {
    border-right: none;
}

.am-nav-tabs>li>a {
    color: #292d33;
    line-height: 1.5;
    border: none;
    display: block;
    padding: .4em 15px;
    margin-right: 0;
    text-align: center;
    font-size: 14px;
}

.am-nav-tabs>li.am-active>a,
.am-nav-tabs>li.am-active>a:focus,
.am-nav-tabs>li>a:hover,
.am-nav-tabs>li.am-active>a:hover {
    background: #327fdf;
    border: none;
    font-size: 14px;
    color: #ffffff;
}

.am-tabs-bd {
    border: none;
    /* overflow-y: auto; */
}

.am-nav-tabs>li {
    width: fit-content;
    background: #d1e5ff;
    border-radius: 4px 4px 0 0;
    /* border-right: 2px solid transparent; */
    margin-right: 1px;
}

.am-nav-tabs>li a {
    border-radius: 4px 4px 0 0;
}

.am-nav-tabs {
    border-bottom: 1px solid #bed8ef;
}

.bd-wr {
    background: url(../i/bg2.png) no-repeat;
    background-size: 100% 100%;
}

.bd-cnt {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-bottom: 45px;
}

.bd-cnt>div {
    height: 695px;
}

.bd-cnt-l {
    background-image: linear-gradient(-270deg, #ffffff 0%, #eef4ff 100%);
    border-radius: 4px 0 0 4px;
    width: 307px;
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.bd-cnt-l-tit {
    padding-top: 10px;
    padding-bottom: 10px;
    /* font-family:PingFangSC-Semibold; */
    font-size: 20px;
    color: #000000;
    letter-spacing: 1.67px;
    text-align: center;
    font-weight: bolder;
    flex: none;
}

.bd-cnt-l-list-wr {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid rgba(151, 151, 151, .29);
    border-bottom: 1px solid rgba(151, 151, 151, .29);
    /* flex: auto; */
}

.bd-cnt-l-list-tit {
    /* font-family:PingFangSC-Medium; */
    font-size: 15px;
    color: #808080;
}

.bd-cnt-l-list li {
    margin-top: 20px;
    display: flex;
}

.bd-cnt-r {
    background-image: linear-gradient(-270deg, #ffffff 0%, #eef4ff 100%);
    border-radius: 0 4px 4px 0;
    width: 845px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-flow: column nowrap;
}