.bd-cnt-l-list-wr {
  padding-left: 35px;
  /* padding-right: 35px; */
}
.bd-cnt-l-list {
  margin-left: 5px;
}
.bd-cnt-l-list li{
  margin-top: 10px;
  display: flex;
}
.bd-cnt-l-list-txt {
  /* font-family:PingFangSC-Regular; */
  font-size:14px;
  color:#464646;
  border-bottom: 2px solid transparent;
  padding-top: 5px;
  padding-bottom: 5px;
}
.bd-cnt-l-list li:hover .bd-cnt-l-list-txt {
  color: #327fdf;
  border-color: #327fdf;
}
/* right */
.form-wr {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.form-l {
  width: 366px;
  display: flex;
  align-items: center;justify-content: 
  space-between;
}
.select-wr {
  width: 170px;
  position: relative;
  display: flex;
  align-items: center;
  /* border: 1px solid #d2d2d2; */
  height: 35px;
}

.select-wr select {
  flex: auto;
  line-height: 35px;
  padding-left: 15px;
  padding-right: 35px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border-radius: 4px 0 0 4px;
  /* font-family:PingFangSC-Regular; */
  font-size:12px;
  color:#727272;
  letter-spacing:0.86px;
}
.form-r {
  width: 310px;
  display: flex;
  align-items: center;
}
.form-r input {
  padding:  0 15px;
  height: 40px;
  background:#ffffff;
  border:1px solid #d2d2d2;
  box-shadow:0 4px 8px 0 rgba(0,0,0,0.05), 0 1px 2px 0 rgba(0,0,0,0.06);
  border-radius:4px 0 0 4px;
  width:253px;
  /* font-family:PingFangSC-Regular; */
  font-size:14px;
  color:#727272;
  letter-spacing:1px;
}
.form-r button {
  height: 40px;
  background:#327fdf;
  box-shadow:0 4px 8px 0 rgba(0,0,0,0.05), 0 1px 2px 0 rgba(0,0,0,0.06);
  width:56px;
  border-radius:0 4px 4px 0;
  /* font-family:PingFangSC-Regular; */
  font-size:12px;
  color:#ffffff;
  letter-spacing:0.86px;
}
i.icon-select {
  background: #327fdf url("../i/icon_select.png") center center no-repeat;
  background-size: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  width: 35px;
  height: 35px;
  border-radius: 0 4px 4px 0;
  position: absolute;
  top: 0px;
  right: 0;
}
.files-hd {
  padding: 0 15px;
  display: flex;
  align-items: center;
  /* font-family:PingFangSC-Regular; */
  font-size:12px;
  color:#525252;
  border-top: 1px solid rgba(226, 226, 226, .5);
  text-align: center;
  justify-content: space-between;
  height: 60px;
}
.files-name {
  width: 366px;
  text-align: left;
}
.files-time {
  width: 90px;
}
.files-download {
  width: 70px;
}
.files-mark {
  width: 32px;
}
.files-list {
  border-top: 1px solid rgba(226, 226, 226, .5);
  border-bottom: 1px solid rgba(226, 226, 226, .5);
  padding: 0 15px;
}
.files-list>li {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(226, 226, 226, .5);
  height: 75px;
}
li .files-name {
  /* font-family:PingFangSC-Medium; */
  font-size:16px;
  color:#222223;
  letter-spacing:1px;
}
li .files-time {
  /* font-family:PingFangSC-Regular; */
  font-size:14px;
  color:#4d4d4d;
  letter-spacing:1.17px;
}
li .files-download {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.files-download i {
  width: 30px;
  height: 30px;
}

i.download-txt {
  background: url("../i/but_xiazai_txt@2x.png") center center no-repeat;
  background-size: contain;
}
i.download-pdf {
  background: url("../i/but_xiazai_pdf@2x.png") center center no-repeat;
  background-size: contain;
}
li .files-mark {
  width: 20px;
  height: 18px;
  background: url("../i/but_nav_shoucang@2x.png") center center no-repeat;
  background-size: contain;
}
i.mark__marked {
  background: url("../i/but_shoucang@2x.png") center center no-repeat;
  background-size: contain;
}
.files-list li:nth-child(6n) {
  border-bottom: none;
}